html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: $font-md;
  font-family: "Oswald";
  color: $color-0;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: $color-0;
  font-size: $font-md;
}

p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}

.container {
  padding-left: 200px;
  padding-right: 200px;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid $color-1;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $color-1;
    color: #fafafa;
  }
}

.title-1 {
  text-transform: capitalize;
  font-size: 44px;
  font-weight: 600;
}

.title-2 {
  text-transform: capitalize;
  font-size: 44px;
  color: $color-1;
  font-weight: 300;
}

.paragraph {
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.77;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
