.welcome {
  background-color: #ffffff;
  display: flex;

  span {
    color: $color-0 !important;
  }

  @include breakpoints(mobile) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 200px;

    &__image {
      position: relative;
      order: 2;
      padding-top: 100px;
      padding-bottom: 200px;
      display: inline;

      img:nth-child(1) {
        position: absolute;
        top: 200px;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 80px;
        padding-left: 60px;
        max-width: 300px;
        margin: auto;
        height: auto;
      }

      img:nth-child(2) {
        position: absolute;
        top: 210px;
        bottom: 0;
        left: -40px;
        right: 0;
        width: 220px;
        margin: auto;
        height: auto;
      }

      img:nth-child(3) {
        position: absolute;
        top: 130px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 337px;
        margin: auto;
        height: auto;
      }
    }

    &__text {
      order: 1;
      padding: 0 30px;

      &__title {
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  @include breakpoints(small) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 120px;
    padding-bottom: 110px;

    &__image {
      position: relative;

      img:nth-child(1) {
        position: absolute;
        top: -163px;
        bottom: 0;
        left: 50px;
        right: 0;
        max-width: 300px;
      }

      img:nth-child(2) {
        position: absolute;
        top: -190px;
        bottom: 0;
        left: 20px;
        right: 0;
        width: 280px;
      }

      img:nth-child(3) {
        position: absolute;
        top: -240px;
        bottom: 0;
        right: 0;
        left: 40px;
        width: 337px;
      }
    }

    &__text {
      width: 40%;

      &__title {
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  @include breakpoints(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 180px;
    padding-bottom: 200px;

    &__image {
      position: relative;

      img:nth-child(1) {
        position: absolute;
        top: -163px;
        bottom: 0;
        left: 130px;
        right: 0;
        max-width: 370px;
      }

      img:nth-child(2) {
        position: absolute;
        top: -190px;
        bottom: 0;
        left: 94px;
        right: 0;
        width: 330px;
      }

      img:nth-child(3) {
        position: absolute;
        top: -298px;
        bottom: 0;
        right: 0;
        left: 100px;
        width: 447px;
      }
    }

    &__text {
      width: 40%;
      padding-right: 79px;

      &__title {
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  @include breakpoints(large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 60px;
    padding-top: 230px;
    padding-bottom: 200px;

    &__image {
      position: relative;

      img:nth-child(1) {
        position: absolute;
        top: -163px;
        bottom: 0;
        left: 130px;
        right: 0;
        max-width: 380px;
      }

      img:nth-child(2) {
        position: absolute;
        top: -190px;
        bottom: 0;
        left: 94px;
        right: 0;
        width: 350px;
      }

      img:nth-child(3) {
        position: absolute;
        top: -324px;
        bottom: 0;
        right: 0;
        left: 100px;
        width: 477px;
      }
    }

    &__text {
      width: 47%;
      padding-right: 170px;

      &__title {
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  &__text {
    p[class="title-1"] {
      margin-left: 5px;
    }

    p[class="title-3"] {
      margin: 10px 0;
    }

    p[class="paragraph"] {
      margin-bottom: 35px;
    }
  }
}
