html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: "Oswald";
  color: #232222;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #232222;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #c9a488;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
}
.button:hover {
  background-color: #c9a488;
  color: #fafafa;
}

.title-1 {
  text-transform: capitalize;
  font-size: 44px;
  font-weight: 600;
}

.title-2 {
  text-transform: capitalize;
  font-size: 44px;
  color: #c9a488;
  font-weight: 300;
}

.title-3 {
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 13px;
  color: #c1bebb;
}

.paragraph {
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.77;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  cursor: default;
}
@media (max-width: 63.9375em) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.header__nav {
  padding-top: 15px;
}
.header__logo img:nth-child(1) {
  width: 60px;
}
.header__logo img:nth-child(2) {
  width: 30px;
}
.header__links {
  text-transform: uppercase;
}
.header__links a {
  position: relative;
}
.header__links a:not(:last-child) {
  margin-right: 30px;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #c9a488;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.header__links a:hover::before {
  opacity: 1;
}
.header__icons i {
  font-size: 17px;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
.header__icons i:hover {
  color: #c9a488;
}
.header__icons i:not(:last-child) {
  margin-right: 10px;
}
.header__toggle i {
  font-size: 17px;
}
.header__toggle i:nth-child(2) {
  display: none;
}
.header__menu {
  margin-top: 20px;
  height: 100vh;
  position: relative;
  display: none;
}
.header__menu i {
  font-size: 17px;
}
.header__menu_container {
  text-align: center;
  height: 300px;
  display: block;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
.header__menu_container a {
  display: block;
  text-transform: uppercase;
}
.header__menu_container a:not(:last-child) {
  margin-bottom: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.hero {
  padding-left: 230px;
  padding-right: 230px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 63.9375em) {
  .hero {
    padding-left: 40px;
    padding-right: 40px;
    display: block;
  }
  .hero__image img {
    width: 500px;
    padding-top: 10px;
    float: right;
  }
  .hero__text p:nth-child(2) {
    width: 300px;
  }
}
.hero__text {
  width: 350px;
}
.hero__text p:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 40px;
}
.welcome {
  background-color: #ffffff;
  padding-top: 150px;
  padding-bottom: 100px;
}
.welcome__text {
  width: 500px;
}
.welcome__text p[class=title-1] {
  margin-left: 5px;
}
.welcome__text p[class=title-3] {
  margin: 10px 0;
}
.welcome__text p[class=paragraph] {
  margin-bottom: 35px;
}
.welcome__text span {
  color: #232222 !important;
}
.welcome__image {
  position: relative;
  margin-left: 45px;
}
.welcome__image img:nth-child(1) {
  margin-top: 100px;
}
.welcome__image img:nth-child(2) {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: -45px;
  right: 0;
}
.welcome__image img:nth-child(3) {
  position: absolute;
  top: -110px;
  bottom: 0;
  left: -40px;
  right: 0;
}/*# sourceMappingURL=style.css.map */