html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: "Oswald";
  color: #232222;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #232222;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #c9a488;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
}
.button:hover {
  background-color: #c9a488;
  color: #fafafa;
}

.title-1 {
  text-transform: capitalize;
  font-size: 44px;
  font-weight: 600;
  text-wrap: nowrap;
}

.title-2 {
  text-transform: capitalize;
  font-size: 44px;
  color: #c9a488;
  font-weight: 300;
  text-wrap: nowrap;
}

.title-3 {
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 13px;
  color: #c1bebb;
}

.paragraph {
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.77;
}

.header {
  cursor: default;
}
@media (max-width: 768px) {
  .header {
    padding: 0px 35px;
  }
  .header .header__links {
    display: none;
  }
  .header .header__icons {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header {
    padding: 0px 35px;
  }
  .header .header__toggle {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    padding: 0px 100px;
  }
  .header .header__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 0px 150px;
  }
  .header .header__toggle {
    display: none;
  }
}
.header__nav {
  padding-top: 15px;
}
.header__logo img:nth-child(1) {
  width: 60px;
}
.header__logo img:nth-child(2) {
  width: 30px;
}
.header__links {
  text-transform: uppercase;
}
.header__links a {
  position: relative;
}
.header__links a:not(:last-child) {
  margin-right: 30px;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #c9a488;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.header__links a:hover::before {
  opacity: 1;
}
.header__icons i {
  font-size: 17px;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
.header__icons i:hover {
  color: #c9a488;
}
.header__icons i:not(:last-child) {
  margin-right: 10px;
}
.header__toggle i {
  font-size: 17px;
}
.header__toggle i:nth-child(2) {
  display: none;
}
.header__menu {
  margin-top: 20px;
  height: 100vh;
  position: relative;
  display: none;
}
.header__menu i {
  font-size: 17px;
}
.header__menu_container {
  text-align: center;
  height: 300px;
  display: block;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
.header__menu_container a {
  display: block;
  text-transform: uppercase;
}
.header__menu_container a:not(:last-child) {
  margin-bottom: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.hero {
  display: flex;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 0px 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero__image {
    padding-top: 25px;
    text-align: center;
  }
  .hero__image img {
    width: 350px;
  }
  .hero__text p:nth-child(2) {
    margin-top: 13px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .hero__image {
    padding-top: 25px;
  }
  .hero__image img {
    width: 90%;
    float: right;
  }
  .hero__text {
    width: 500px;
  }
  .hero__text p:nth-child(2) {
    margin-top: 13px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    padding-top: 60px;
  }
  .hero__image {
    padding-top: 25px;
  }
  .hero__image img {
    width: 100%;
    float: right;
  }
  .hero__text {
    width: 350px;
  }
  .hero__text p:nth-child(2) {
    margin-top: 13px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 145px;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .hero__image {
    padding-top: 25px;
  }
  .hero__image img {
    width: 100%;
    float: right;
  }
  .hero__text {
    width: 350px;
  }
  .hero__text p:nth-child(2) {
    margin-top: 13px;
    margin-bottom: 40px;
  }
}
.welcome {
  background-color: #ffffff;
  display: flex;
}
.welcome span {
  color: #232222 !important;
}
@media (max-width: 768px) {
  .welcome {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 200px;
  }
  .welcome__image {
    position: relative;
    order: 2;
    padding-top: 100px;
    padding-bottom: 200px;
    display: inline;
  }
  .welcome__image img:nth-child(1) {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 80px;
    padding-left: 60px;
    max-width: 300px;
    margin: auto;
    height: auto;
  }
  .welcome__image img:nth-child(2) {
    position: absolute;
    top: 210px;
    bottom: 0;
    left: -40px;
    right: 0;
    width: 220px;
    margin: auto;
    height: auto;
  }
  .welcome__image img:nth-child(3) {
    position: absolute;
    top: 130px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 337px;
    margin: auto;
    height: auto;
  }
  .welcome__text {
    order: 1;
    padding: 0 30px;
  }
  .welcome__text__title p {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .welcome {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 120px;
    padding-bottom: 110px;
  }
  .welcome__image {
    position: relative;
  }
  .welcome__image img:nth-child(1) {
    position: absolute;
    top: -163px;
    bottom: 0;
    left: 50px;
    right: 0;
    max-width: 300px;
  }
  .welcome__image img:nth-child(2) {
    position: absolute;
    top: -190px;
    bottom: 0;
    left: 20px;
    right: 0;
    width: 280px;
  }
  .welcome__image img:nth-child(3) {
    position: absolute;
    top: -240px;
    bottom: 0;
    right: 0;
    left: 40px;
    width: 337px;
  }
  .welcome__text {
    width: 40%;
  }
  .welcome__text__title p {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .welcome {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 180px;
    padding-bottom: 200px;
  }
  .welcome__image {
    position: relative;
  }
  .welcome__image img:nth-child(1) {
    position: absolute;
    top: -163px;
    bottom: 0;
    left: 130px;
    right: 0;
    max-width: 370px;
  }
  .welcome__image img:nth-child(2) {
    position: absolute;
    top: -190px;
    bottom: 0;
    left: 94px;
    right: 0;
    width: 330px;
  }
  .welcome__image img:nth-child(3) {
    position: absolute;
    top: -298px;
    bottom: 0;
    right: 0;
    left: 100px;
    width: 447px;
  }
  .welcome__text {
    width: 40%;
    padding-right: 79px;
  }
  .welcome__text__title p {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .welcome {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 60px;
    padding-top: 230px;
    padding-bottom: 200px;
  }
  .welcome__image {
    position: relative;
  }
  .welcome__image img:nth-child(1) {
    position: absolute;
    top: -163px;
    bottom: 0;
    left: 130px;
    right: 0;
    max-width: 380px;
  }
  .welcome__image img:nth-child(2) {
    position: absolute;
    top: -190px;
    bottom: 0;
    left: 94px;
    right: 0;
    width: 350px;
  }
  .welcome__image img:nth-child(3) {
    position: absolute;
    top: -324px;
    bottom: 0;
    right: 0;
    left: 100px;
    width: 477px;
  }
  .welcome__text {
    width: 47%;
    padding-right: 170px;
  }
  .welcome__text__title p {
    display: flex;
    flex-direction: column;
  }
}
.welcome__text p[class=title-1] {
  margin-left: 5px;
}
.welcome__text p[class=title-3] {
  margin: 10px 0;
}
.welcome__text p[class=paragraph] {
  margin-bottom: 35px;
}

.videos span {
  color: #232222 !important;
}
@media (max-width: 768px) {
  .videos {
    padding: 40px 30px;
  }
  .videos__title {
    padding-bottom: 30px;
  }
  .videos__title p {
    display: flex;
    flex-direction: column;
  }
  .videos__images {
    text-align: center;
  }
  .videos__images img {
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .videos {
    text-align: center;
    padding: 40px 30px;
  }
  .videos p {
    color: red;
  }
  .videos__title {
    padding-bottom: 30px;
  }
  .videos__title p {
    display: flex;
    flex-direction: column;
  }
  .videos__images {
    display: flex;
    flex-direction: column;
  }
  .videos__images img {
    padding: 4px 4px;
  }
  .videos__images div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .videos__images div:nth-child(1) img {
    width: 30%;
  }
  .videos__images div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .videos__images div:nth-child(2) img {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */